<!DOCTYPE html>
<html lang="en" ng-app="NgBookApp">
<head>
  <meta charset="UTF-8">
  <title>Intro</title>
</head>
<body>
<div ng-controller="MyController">
  <input ng-model="name" type="text" placeholder="Your name">
  <h1>Hello {{ name }}</h1>
  <hr />
  <h2>{{ clock.now }}</h2>
  <hr />
  <h3>{{ counter }} <button ng-click="add(1);">+</button><button ng-click="subtract(1)">-</button></h3>
  <hr />
  <h3>Expression and $parse</h3>
  <input ng-model="expr" placeholder="Enter an expression" />
  <h3>{{ parsedValue }}</h3>
  <hr />
  <input ng-model="to" type="email" placeholder="Recipient" />
  <textarea ng-model="emailBody"></textarea>
  <h3>{{ to }}</h3>
  <pre>{{ previewText }}</pre>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
<script src="script.js"></script>
</body>
</html>